.sheet-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 830px;
    height: 420px;

    background-repeat: no-repeat;
    background-size: 830px 420px;

    font-size: 1rem !important;
    line-height: 0.8rem;

    margin-top: -24px !important;
}

.sheet-outer-container * {
    color: #000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.sheet-inner-container {
    width: 800px;
    height: 410px;
    margin-top: 12px;
}

.sheet-character-sheet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sheet-button-orientation-left {
    flex-direction: row-reverse;
}

.sheet-button-orientation-right {
    flex-direction: row;
}

.sheet-border-line {
    border-radius: 8px;
    border: 1px solid #000;
}

.sheet-background-1 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_1.png');
}

.sheet-background-2 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_2.png');
}

.sheet-background-3 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_3.png');
}

.sheet-background-4 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_4.png');
}

.sheet-background-5 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_5.png');
}

.sheet-background-6 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_6.png');
}

.sheet-background-7 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_7.png');
}

.sheet-background-8 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_8.png');
}

.sheet-background-9 {
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_9.png');
}

.sheet-row-gap {
    gap: 2px;
}

.sheet-col-gap {
    gap: 2px;
}

.sheet-ezd6-logo {
    width: 32px;
    height: 32px;
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/ezd6_logo_bw.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 4px;
}

.sheet-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.sheet-flex-col {
    display: flex;
    flex-direction: column;
}

.sheet-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    color: #000000;
    margin: 0 !important;
    padding: 0 !important;
}

select {
    margin: 0 !important;
}

span.pictos-icon {
    font-family: 'Pictos';
    font-size: 2rem;
}

.sheet-input-field>input {
    min-width: 200px;
    margin: 0 !important;
}

.sheet-flex-row.sheet-flex-centered {
    justify-content: center;
}

.sheet-flex-col.sheet-flex-centered {
    align-items: center;
}

input.sheet-single-digit {
    width: 24px !important;
    height: 24px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: center;
}

textarea {
    font-size: 1.2rem !important;
}

textarea.small {
    width: 350px !important;
    height: 72px !important;
    resize: none !important;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}

textarea.large {
    width: 100% !important;
    height: 100% !important;
    resize: none !important;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}

.sheet-border-group {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.5);
}

.sheet-attr-group {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid gray;
}

button.help-toggle {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

button.notes-toggle, button.dice-roll {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 4px !important;
    border: 1px solid gray !important;
}

.sheet-attr-group label {
    flex-grow: 1;
    color: #000000;
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.help-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.help-modal>div {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 600px 400px;
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_1.png');
}

.help-modal>div>div {
    width: 570px;
    height: 370px;
    padding: 8px;
    font-size: 1.4em;
    line-height: 1em;
}

.help-body {
    max-height: 332px;
    overflow: hidden;
    overflow-y: scroll;
}

.notes-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.notes-modal>div {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 600px 400px;
    background-image: url('https://raw.githubusercontent.com/Roll20Code/ezd6-core-sheet/main/src/art/background_1.png');
}

.notes-modal>div>div {
    width: 570px;
    height: 370px;
    padding: 8px;
    font-size: 1.4em;
    line-height: 1em;
}